<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>设备类别参数</title>


    <!-- Custom styles for this template -->
<!--    <link href="/css/form-validation.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css" >-->
<!--    &lt;!&ndash; Bootstrap table &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/bootstrap-table.min.css" >-->
<!--    &lt;!&ndash;    <script src="/js/jquery-1.9.1.min.js"></script>&ndash;&gt;-->
<!--    <script src="/js/jquery-2.1.4.min.js"></script>-->
<!--    &lt;!&ndash;    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>&ndash;&gt;-->
<!--    <script src="/js/bootstrap.min.js"></script>-->

</head>

<body class="bg-light">

<div class="container">
    <div class="row">
        <hr/>
    </div>
    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">新增设备类别参数</h4>
            <form class="needs-validation" method="post" action="/setting/operation" novalidate>


                <div class="mb-3">
                    <label for="deviceType">设备类型</label>
                    <select class="form-control" name="deviceType" id="deviceType">
                    </select>
                    <div class="invalid-feedback" style="width: 100%;">
                        请选择设备类型
                    </div>
                </div>

                <div class="mb-3">
                    <label for="brand">设备品牌</label>
                    <input type="text" class="form-control" id="brand" name="brand" placeholder="如：小米">
                    <div class="invalid-feedback">
                        请输入设备品牌
                    </div>
                </div>

                <div class="mb-3">
                    <label for="model">设备型号</label>
                    <input type="text" class="form-control" id="model" name="model" placeholder="如：zhimi.airpurifier.v3">
                    <div class="invalid-feedback">
                        请输入设备型号
                    </div>
                </div>


                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">新增</button>
            </form>
        </div>
    </div>
<hr/>
<hr/>
    <table class="table table-striped" id="table">
        <thead style="background-color:#ccc;">
        <!--<table id="enterpriseProduct_tab" class="table table-hover"></table>-->
    </table>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>


<link href="/css/form-validation.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap-table.min.css" rel="stylesheet">

<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }else{
                        event.preventDefault();
                        event.stopPropagation();
                        add($(form).serialize());
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

    })();

    $(document).ready(function () {

        $.ajax({
            type:"get",
            url:'/setting/deviceTypes',
            success: function (data) {
                enterprise_productlist = data;
                var html = '';
                $.each(data, function(key,val) {
                    html += '<option  value="'+val.englishName+'">'+val.name+'</option>';

                });
                $('#deviceType').append(html);
            },
            error:function(){}
        });
    })

    function add(datas) {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/device" ,//url
            data: datas,
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    alert(result.msg);
                }else if(result.code == 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }



    var $table;
    $(function(){
        //记录页面bootstrap-table全局变量$table，方便应用
        var queryUrl = '/setting/deviceLists'
        $table = $('#table').bootstrapTable({
            url: queryUrl,                      //请求后台的URL（*）
            method: 'GET',                      //请求方式（*）
            //toolbar: '#toolbar',              //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            dataType : "json",                   //后端数据传递类型
            // dataField : "rows",                 //很重要，这是后端返回的实体数据！
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortName:"createTimestamp",
            sortOrder: "asc",                   //排序方式
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            paginationLoop: true,
            pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
            pageSize: 10,                         //每页的记录行数（*）
            pageList: [],         //可供选择的每页的行数（*）
            search: false,                      //是否显示表格搜索
            strictSearch: true,
            showColumns: false,                  //是否显示所有的列（选择显示的列）
            showRefresh: false,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                   //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: true,                  //是否显示父子表
            //得到查询的参数
            queryParams:qua_queryParams,
            columns:[
                // {
                //     title:'全选',
                //     field:'select',
                //     checkbox:true,
                //     width:25,
                //     align:'center',
                //     valign:'middle'
                // },
                {
                    title:'id',
                    field:'id'
                    // visible:false
                },
                {
                    title:'实体id',
                    field:'entityId'
                },
                {
                    title:'设备名称',
                    field:'deviceName'
                    // formatter:certificateStatus //失效状态判断
                },
                {
                    title:'设备区域',
                    field:'deviceZone'
                },
                {
                    title:'设备类型',
                    field:'deviceType'
                },
                {
                    title:'设备品牌',
                    field:'brand'
                },
                {
                    title:'设备型号',
                    field:'model'
                },
                {
                    title:'操作',
                    field:'Button',
                    align:'center',
                    // events: operateEvents,//事件
                    formatter:addDel //添加按钮
                }
            ],
            responseHandler:function(res){
                return{"rows": res.content, "total": res.totalElements};
            },
            onLoadSuccess: function (data) {
                console.log(data);
            },
            onLoadError: function () {
                console.log("数据加载失败！");
            },
            onDblClickRow: function (row, $element) {

            },
        });
    })

    function addDel(value, row, index) {
        var html = '<a href="javascript:void(0)" onclick="delOperation(\''+row.id+'\')">删除</a>';
        return html;
    }
    //查询参数
    function qua_queryParams(params) {
        return {
            /*pageSize: params.limit,
             pageNum:params.pageNumber,*/
            pageSize: params.limit, //找多少条
            pageNum: params.offset / params.limit
            // pageNum: (params.offset / params.limit) + 1
        }
    }


    function delOperation(id) {
        $.ajax({
            //几个参数需要注意一下
            type: "post",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/device/"+id ,//url
            data: {'_method':'delete'},
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    alert(result.msg);
                    refresh();
                }else if(result.code == 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }
    function refresh(){

        $('#table').bootstrapTable('refresh', {url: "/setting/deviceLists",pageNumber:0});
    }

</script>
</body>
</html>
