<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>设备类别参数</title>
</head>

<body class="bg-light">

<div class="modal fade" id="addOperationModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">新增操作</h4>
            </div>
            <div class="modal-body">
                <form id="addTypeOperationForm">
                    <div class="form-group">
                        <label for="service" class="control-label">homeassistant服务</label>
                        <input type="text" class="form-control" id="service" name="service">
                    </div>
                    <div class="form-group">
                        <label for="responseName" class="control-label">响应代码</label>
                        <input type="text" class="form-control" id="responseName" name="responseName">
                    </div>
                    <div class="form-group">
                        <label for="operationId" class="control-label">设备操作</label>
                        <select class="form-control" id="operationId" name="operationId"></select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">新增</button>
                    </div>
                    <input type="hidden"  id="devicetypeId" >
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--                <button type="button" class="btn btn-primary">提交更改</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addParameterModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >新增操作参数</h4>
            </div>
            <div class="modal-body">
                <form id="addParameterForm">
                    <div class="form-group">
                        <label for="parameterName" class="control-label">参数名称</label>
                        <input type="text" class="form-control" id="parameterName" name="parameterName">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">是否需要转化</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="isConversion" value="1" checked> 不需要
                            </label>
                            <label>
                                <input type="radio" name="isConversion" value="2"> 需要
                            </label>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label for="operationId" class="control-label">设备操作</label>-->
<!--                        <select class="form-control" id="operationId" name="operationId"></select>-->
<!--                    </div>-->
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">新增</button>
                    </div>
                    <input type="hidden"  id="deviceTypeOperationId" >
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--                <button type="button" class="btn btn-primary">提交更改</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!--参数转化模态框-->
<div class="modal fade" id="addParameterConversionModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >新增参数转化</h4>
            </div>
            <div class="modal-body">
                <form id="addParameterConversionForm">
                    <div class="form-group">
                        <label for="aliParameterAttr" class="control-label">天猫请求参数attribute</label>
                        <input type="text" class="form-control" id="aliParameterAttr" name="aliParameterAttr">
                    </div>
                    <div class="form-group">
                        <label for="aliParameterValue" class="control-label">天猫请求参数value</label>
                        <input type="text" class="form-control" id="aliParameterValue" name="aliParameterValue">
                    </div>
                    <div class="form-group">
                        <label for="hassParameter" class="control-label">homeAssistant参数</label>
                        <input type="text" class="form-control" id="hassParameter" name="hassParameter">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">新增</button>
                    </div>
                    <input type="hidden"  id="addParameterId" >
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="container">
    <div style="margin: 50px ">
        <h1>天猫支持设备类别列表</h1>
        <table class="table table-striped" id="table">
            <thead style="background-color:#ccc;">
            <!--<table id="enterpriseProduct_tab" class="table table-hover"></table>-->
        </table>
    </div>
<!--    <footer class="my-5 pt-5 text-muted text-center text-small">-->
<!--        <p class="mb-1">&copy; 2017-2018 Company Name</p>-->
<!--        <ul class="list-inline">-->
<!--            <li class="list-inline-item"><a href="#">Privacy</a></li>-->
<!--            <li class="list-inline-item"><a href="#">Terms</a></li>-->
<!--            <li class="list-inline-item"><a href="#">Support</a></li>-->
<!--        </ul>-->
<!--    </footer>-->
</div>



<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap-table.min.css" rel="stylesheet">
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.min.js"></script>
<link src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.4.0/css/bootstrapValidator.min.css" rel="stylesheet"></link>

<script>
    //操作下拉框
    $(function () {
        $.ajax({
            type:"get",
            url:'/setting/operations',
            success: function (data) {
                enterprise_productlist = data;
                var html = '';
                $.each(data, function(key,val) {
                    html += '<option  value="'+val.id+'">'+val.name+"=============="+val.friendlyName+'</option>';
                });
                $('#operationId').append(html);
            },
            error:function(){}
        });
    })

    var $table;
    $(function(){
        //记录页面bootstrap-table全局变量$table，方便应用
        var queryUrl = '/setting/deviceTypesPage'
        $table = $('#table').bootstrapTable({
            url: queryUrl,                      //请求后台的URL（*）
            method: 'GET',                      //请求方式（*）
            //toolbar: '#toolbar',              //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            dataType : "json",                   //后端数据传递类型
            // dataField : "rows",                 //很重要，这是后端返回的实体数据！
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortName:"createTimestamp",
            sortOrder: "asc",                   //排序方式
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            paginationLoop: true,
            pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
            pageSize: 10,                         //每页的记录行数（*）
            pageList: [10,25],         //可供选择的每页的行数（*）
            search: false,                      //是否显示表格搜索
            strictSearch: true,
            showColumns: false,                  //是否显示所有的列（选择显示的列）
            showRefresh: false,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                   //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: true,                  //是否显示父子表
            //得到查询的参数
            queryParams:qua_queryParams,
            columns:[
                // {
                //     title:'全选',
                //     field:'select',
                //     checkbox:true,
                //     width:25,
                //     align:'center',
                //     valign:'middle'
                // },
                {
                    title:'id',
                    field:'id',
                    visible:false
                },
                {
                    title:'设备类别',
                    field:'name'
                },
                {
                    title:'设备类别代码',
                    field:'englishName'
                    // formatter:certificateStatus //失效状态判断
                },
                {
                    title:'操作',
                    field:'Button',
                    align:'center',
                    // events: operateEvents,//事件
                    formatter:addOperation //添加按钮
                }
            ],
            responseHandler:function(res){
                return{"rows": res.content, "total": res.totalElements};
            },
            onLoadSuccess: function (data) {
                //console.log(data);
            },
            onLoadError: function () {
                console.log("数据加载失败！");
            },
            onDblClickRow: function (row, $element) {

            },
            //注册加载子表的事件。注意下这里的三个参数！
            onExpandRow: function (index, row, $detail) {
                //oInit.InitSubTable(index, row, $detail);
                InitSubTable(index, row, $detail);
            }
        });
    })

    //var oTable = new TableInit();
    //初始化子表格 类别操作
    function InitSubTable (index, row, $detail) {
        var parentid = row.id;
        var cur_table = $detail.html('<table id='+row.id+' style="width: 90%;margin-left: 60px"></table>').find('table');
        $(cur_table).bootstrapTable({
            url: '/setting/DeviceTypeOperations',
            method: 'get',
            queryParams: { id: parentid },
            ajaxOptions: { id: parentid },
            // clickToSelect: true,
            detailView: true,//父子表
            uniqueId: "id",
            pageSize: 10,
            pageList: [10, 25],
            columns: [
            //     {
            //     checkbox: true
            // },
            {
                field: 'operation.friendlyName',
                title: '操作'
            }, {
                field: 'operation.name',
                title: '操作代码'
            },{
                field: 'service',
                title: '服务'
            }, {
                field: 'responseName',
                title: '响应代码'
            },{
                title:'操作',
                field:'Button',
                align:'center',
                // events: operateEvents,//事件
                formatter:addOperationButton //添加按钮
            }
            ],
            //无线循环取子表，直到子表里面没有记录
            onExpandRow: function (index, row, $Subdetail) {
                InitSubTableParameter(index, row, $Subdetail);
            }
        });
    };

    //初始化子表格 参数表
    function InitSubTableParameter (index, row, $detail) {
        var parentid = row.id;
        var cur_table = $detail.html('<table id='+parentid+' style="width: 90%;margin-left: 60px"></table>').find('table');
        $(cur_table).bootstrapTable({
            url: '/setting/serviceParameters',
            method: 'get',
            queryParams: { id: parentid },
            ajaxOptions: { id: parentid },
            // clickToSelect: true,
            detailView: true,//父子表
            uniqueId: "id",
            pageSize: 10,
            pageList: [10, 25],
            columns: [
            //     {
            //     checkbox: true
            // },
            {
                field: 'parameterName',
                title: '参数名称'
            }, {
                field: 'isConversion',
                title: '是否需要转化',
                formatter:formatIsConversion
            },{
                title:'操作',
                field:'Button',
                align:'center',
                // events: operateEvents,//事件
                formatter:addParameterButton //添加按钮
            }
            ],
            //无线循环取子表，直到子表里面没有记录
            onExpandRow: function (index, row, $Subdetail) {
                InitSubTableParameterrConversion(index, row, $Subdetail);
            }
        });
    };

    //初始化子表格 参数转化表
    function InitSubTableParameterrConversion (index, row, $detail) {
        var parentid = row.id;
        var cur_table = $detail.html('<table id='+parentid+' style="width: 90%;margin-left: 60px"></table>').find('table');
        $(cur_table).bootstrapTable({
            url: '/setting/parameterrConversions',
            method: 'get',
            queryParams: { id: parentid },
            ajaxOptions: { id: parentid },
            // clickToSelect: true,
            detailView: true,//父子表
            uniqueId: "id",
            pageSize: 10,
            pageList: [10, 25],
            columns: [
                //     {
                //     checkbox: true
                // },
                {
                    field: 'aliParameterAttr',
                    title: '阿里请求参数attribute值'
                }, {
                    field: 'aliParameterValue',
                    title: '阿里请求参数value值',
                }, {
                    field: 'hassParameter',
                    title: 'homeassistant参数'
                }
                ,{
                    title:'操作',
                    field:'Button',
                    align:'center',
                    // events: operateEvents,//事件
                    formatter:addParameterrConversionButton //添加按钮
                }
            ]
        });
    };

    function addOperation(value, row, index) {
        var html = '<a href="javascript:void(0)" onclick="Operation(\''+row.id+'\')">新增操作</a>';
        return html;
    }

    function addOperationButton(value, row, index) {
        var html = '<a href="javascript:void(0)" onclick="addParameter(\''+row.id+'\')">新增参数</a>&nbsp;&nbsp;&nbsp;' +
            '<a href="javascript:void(0)" onclick="delOperation(\''+row.id+'\',this)">删除</a>';
        return html;
    }

    //参数按钮
    function addParameterButton(value, row, index) {
        var html = '';
        if(row.isConversion=='2')
            html += '<a href="javascript:void(0)" onclick="addParameterConversion(\''+row.id+'\')">新增参数转化</a>&nbsp;&nbsp;&nbsp;';

            html += '<a href="javascript:void(0)" onclick="delParameter(\''+row.id+'\',this)">删除</a>';
        return html;
    }

    function addParameterrConversionButton(value, row, index) {
        var html = '<a href="javascript:void(0)" onclick="delParameterrConversion(\''+row.id+'\',this)">删除</a>';
        return html;
    }

    function formatIsConversion(value, row, index) {
        if(value=='2'){
            return '是'
        }else if(value=='1'){
            return '否'
        }
    }
    //查询参数
    function qua_queryParams(params) {
        return {
            /*pageSize: params.limit,
             pageNum:params.pageNumber,*/
            pageSize: params.limit, //找多少条
            pageNum: params.offset / params.limit
            // pageNum: (params.offset / params.limit) + 1
        }
    }

    function Operation(id) {
        //打开模态框 然后 进行新增操作，操作完成后刷新表格
        // $('#myModal').modal('hide')
        //$("#addTypeOperationForm").data('bootstrapValidator').destroy();
        // $("#addTypeOperationForm").data('bootstrapValidator').resetForm();
        //$('#addTypeOperationForm').data('bootstrapValidator',null);
        $('#addTypeOperationForm')[0].reset();
        $('#addOperationModel').modal('show')
        $('#devicetypeId').val(id);

    }

    function addParameter(id) {
        // $("#addParameterForm").data('bootstrapValidator').destroy();
        // $('#addParameterForm').data('bootstrapValidator',null);
        $('#addParameterForm')[0].reset();
        initValid();
        //打开参数模态框
        $('#addParameterModel').modal('show')
        $('#deviceTypeOperationId').val(id);
    }

    function addParameterConversion(id) {
        $("#addParameterConversionForm").data('bootstrapValidator').destroy();
        $('#addParameterConversionForm').data('bootstrapValidator',null);
        $('#addParameterConversionForm')[0].reset();
        initValid();
        //打开参数转化模态框
        $('#addParameterConversionModel').modal('show')
        $('#addParameterId').val(id);
    }

    function delOperation(id,obj) {
        $.ajax({
            //几个参数需要注意一下
            type: "post",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/DeviceTypeOperation/"+id ,//url
            data: {'_method':'delete'},
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    alert(result.msg);
                    $(obj).closest("table").bootstrapTable('refresh');
                    //refreshDeviceTypeOperation();
                }else if(result.code == 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }

    function delParameter(id,obj) {
        $.ajax({
            //几个参数需要注意一下
            type: "post",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/serviceParameter/"+id ,//url
            data: {'_method':'delete'},
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    alert(result.msg);
                    $(obj).closest("table").bootstrapTable('refresh');
                    //refresh();
                }else if(result.code == 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("服务异常！");
            }
        });
    }

    function delParameterrConversion(id,obj) {
        $.ajax({
            //几个参数需要注意一下
            type: "post",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/parameterrConversion/"+id ,//url
            data: {'_method':'delete'},
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    alert(result.msg);
                    $(obj).closest("table").bootstrapTable('refresh');
                    //refresh();
                }else if(result.code == 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("服务异常！");
            }
        });
    }



    function refresh(){
        $('#table').bootstrapTable('refresh', {url: "/setting/deviceLists",pageNumber:0});
    }

    function refreshDeviceTypeOperation(id){
        $('#'+id).bootstrapTable('refresh');
    }

    //===========================新增和一些校验===============================================
    $(function () {
        initValid();
    });

    function initValid() {
        //新增类别操作校验
        $('#addTypeOperationForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                service: {
                    message: '请选择实体id',
                    validators: {
                        notEmpty: {
                            message: 'homeassistant服务不可为空'
                        }
                    }
                },
                responseName: {
                    validators: {
                        notEmpty: {
                            message: '响应代码不能为空'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                addTypeOperations(transformToJson(form.serializeArray()));
            }
        });

        //新增参数转化校验
        $('#addParameterConversionForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                // aliParameterAttr: {
                //     message: '参数名不可为空',
                //     validators: {
                //         notEmpty: {
                //             message: '猫请求参数payload中attribute不可为空'
                //         }
                //     }
                // },
                // aliParameterValue: {
                //     validators: {
                //         notEmpty: {
                //             message: '天猫请求参数payload中value不可为空'
                //         }
                //     }
                // },
                hassParameter: {
                    validators: {
                        notEmpty: {
                            message: 'homeassistant参数不可为空'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                addServiceParameterConversion(transformToJson(form.serializeArray()));
            }
        });

        //新增参数校验
        $('#addParameterForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                parameterName: {
                    message: '参数名不可为空',
                    validators: {
                        notEmpty: {
                            message: '参数名不可为空'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                addServiceParameter(transformToJson(form.serializeArray()));
            }
        });
    }

    function addTypeOperations(datas) {
        var deviceType = new Object();
        deviceType.id=$('#devicetypeId').val();

        var operation = new Object();
        operation.id=datas.operationId;

        datas.deviceType= deviceType;
        datas.operation= operation;
        var data = JSON.stringify(datas);
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/DeviceTypeOperation" ,//url
            contentType: "application/json",
            data: data,
            success: function (result) {
                $('#addTypeOperationForm').bootstrapValidator('disableSubmitButtons', false);
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    alert(result.msg);
                    $('#addOperationModel').modal('hide')
                    refreshDeviceTypeOperation(datas.deviceType.id)
                }else if(result.code == 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }

    //添加参数
    function addServiceParameter(datas) {
        var deviceTypeOperation = new Object();
        deviceTypeOperation.id=$('#deviceTypeOperationId').val();
        datas.deviceTypeOperation= deviceTypeOperation;
        var data = JSON.stringify(datas);
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/serviceParameter" ,//url
            contentType: "application/json",
            data: data,
            success: function (result) {
                $('#addParameterForm').bootstrapValidator('disableSubmitButtons', false);
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    alert(result.msg);
                    $('#addParameterModel').modal('hide')
                    refreshDeviceTypeOperation(datas.deviceTypeOperation.id)
                }else if(result.code == 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("服务异常！");
            }
        });
    }

    function addServiceParameterConversion(datas) {
        var serviceParameter = new Object();
        serviceParameter.id=$('#addParameterId').val();
        datas.serviceParameter= serviceParameter;
        var data = JSON.stringify(datas);
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/parameterrConversion" ,//url
            contentType: "application/json",
            data: data,
            success: function (result) {
                $('#addParameterConversionForm').bootstrapValidator('disableSubmitButtons', false);
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code === 200) {
                    alert(result.msg);
                    $('#addParameterConversionModel').modal('hide');
                    refreshDeviceTypeOperation(datas.serviceParameter.id)
                }else if(result.code === 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("服务异常！");
            }
        });
    }
    //转化对象
    function transformToJson(formData){
        var obj={};
        for (var i in formData) {
            obj[formData[i].name]=formData[i]['value'];
        }
        return obj;
    }
</script>
</body>
</html>
