<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>新增操作</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="row">
        <hr/>
    </div>

        <h4 class="mb-3">新增操作</h4>
        <form id="addForm" class="form-horizontal"  method="post" action="/setting/operation" >

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">操作代码</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="如：TurnOn"  check-type="mail required">
                </div>
            </div>

            <div class="form-group">
                <label for="friendlyName" class="col-sm-2 control-label">操作名称</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="friendlyName" name="friendlyName" placeholder="如：设备打开"  check-type="mail required">
                </div>
            </div>
            <hr class="mb-4">


            <div class="col-sm-6">
                <!--        <button class="btn btn-primary  btn-block" type="submit">新增</button>-->
                <button class="btn btn-primary  btn-block" type="submit">新增</button>
            </div>
        </form>
    <label  class="col-sm-2 control-label"></label>

    </div>
    <hr class="mb-4">
    <hr class="mb-4">
<!--    <footer class="my-5 pt-5 text-muted text-center text-small">-->
<!--        <p class="mb-1">&copy; 2017-2018 Company Name</p>-->
<!--        <ul class="list-inline">-->
<!--            <li class="list-inline-item"><a href="#">Privacy</a></li>-->
<!--            <li class="list-inline-item"><a href="#">Terms</a></li>-->
<!--            <li class="list-inline-item"><a href="#">Support</a></li>-->
<!--        </ul>-->
<!--    </footer>-->
</div>


<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.min.js"></script>
<link src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.4.0/css/bootstrapValidator.min.css" rel="stylesheet"></link>

<script>
    $(function () {
        $('#addForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    message: '操作代码不能为空',
                    validators: {
                        notEmpty: {
                            message: '操作代码不能为空'
                        }
                    }
                },
                friendlyName: {
                    validators: {
                        notEmpty: {
                            message: '操作名称不能为空'
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                add(form.serialize())
            }
        });
    });

    function add(datas) {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/operation" ,//url
            data: datas,
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    $('#addForm').bootstrapValidator('disableSubmitButtons', false);
                    alert(result.msg);
                }else if(result.code == 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }

    function submitForm() {

    }

</script>
</body>
</html>
