<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>新增操作</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="row">
        <hr/>
    </div>
    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">新增操作</h4>
            <form class="needs-validation" method="post" action="/setting/operation" novalidate>

                <div class="mb-3">
                    <label for="name">操作代码</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="如：TurnOn" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        请输入操作代码
                    </div>
                </div>

                <div class="mb-3">
                    <label for="friendlyName">操作名称</label>
                    <input type="text" class="form-control" id="friendlyName" name="friendlyName" placeholder="如：设备打开" required>
                    <div class="invalid-feedback">
                        请输入操作名称
                    </div>
                </div>


                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">新增</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!--<script>window.jQuery || document.write('')</script>-->
<script src="/js/vendor/jquery-slim.min.js"></script>
<script src="/js/vendor/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/vendor/holder.min.js"></script>
<script src="/js/jquery-1.9.1.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }else{
                        event.preventDefault();
                        event.stopPropagation();
                        add($(form).serialize());
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function add(datas) {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/setting/operation" ,//url
            data: datas,
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    alert(result.msg);
                }else if(result.code == 400){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }


</script>
</body>
</html>
